<div id="map"></div>
<div id="container">
     <nb-card>
          <nb-card-header>Create Building Entity</nb-card-header>
               <nb-card-body>
                    <form>
                         <div class="form-group">
                              <label for="jsonData" class="label">JSON</label>
                              <textarea #jsonDataEntity rows="20" nbInput fullWidth shape="round"  placeholder="{
     type*	string
     example: Room
     id*	string
     example: Bcn-Welt
     temperature*	{...}
     humidity*	{...}
     location*	{...}
}"></textarea>
                         </div>
                         <button (click)="createEntity(jsonDataEntity.value)" type="submit" nbButton status="primary">Crea Entity</button>
                    </form>
               </nb-card-body>
     </nb-card>
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin="">
</script>