

<div class="container">
    <h3>Mqa scoring API demo page</h3>
    <span>Currently avaiable with just one catalogue</span>
    <br>
    <hr>
    <!-- Form Creazione -->
    <div
        class="row justify-content-center align-items-center g-2"
    >
        <div class="col-6">
            
            <h5>Get Catalogue Analisys by ID</h5>
            <p style="font-size: small;">This API allows user to get the score and all the values of metrics for a catalogue chosed by ID. <br>
            Try changing filters!</p>

            <form action="getCatalogue">
                <div class="form-group">
                    <label for="ID"><b>ID*</b></label>
                    <input #ID nbInput fullWidth shape="round" type="text" placeholder="ID" name="ID" required value="659fd47c58771f020b83e39d" disabled>

                </div>
                <button status="primary" nbButton (click)="getCatalogue(ID.value)" type="submit">Find</button>
            </form>

            <br>
            <hr>

            <h5>Get Catalogue Analisys by ID and filter by params</h5>
            <p style="font-size: small;">This API allows user to get the chosen metrics and scores for a catalogue chosed by ID.</p>
            <form action="getFiltered">
                <div class="form-group">
                    <label for="ID"><b>ID*</b></label>
                    <input #ID nbInput fullWidth shape="round" type="text" placeholder="ID" name="ID" required value="659fd47c58771f020b83e39d" disabled>
                    <label for="FILTERS"><b>Filters*</b></label>
                    <input #FILTERS nbInput fullWidth shape="round" type="text" placeholder="Filters" name="FILTERS" required value="score, title, datasets.title">

                </div>
                <button status="primary" nbButton (click)="getFiltered(ID.value,FILTERS.value)" type="submit">Find</button>
            </form>
            
            <br>
            <hr>

            <h5>Submit Analisys for a Catalogue already registered</h5>
            <p style="font-size: small;">This API allows user to send an RDF of a catalogue to make an analisys of it, if already exist an old analisys you must specify the ID, if not a new one will be created. <br>
            When API is call, it gives an immediate response with sintax results, if wrong it return an error, otherwhise will continue the analisys. <br>
            When analisys is finished, if an url was given, the results will be sent to the url. In any case results will be saved on the database and can later be read with the get API. <br>Try to use <a  target="_blank"  href="https://webhook.site">https://webhook.site</a> to get the notification, but it can take some minutes.</p>
            <form action="submitAnalisysJSON">
                <div class="form-group">
                    <label for="ID"><b>ID</b></label>
                    <input #ID nbInput fullWidth shape="round" type="text" placeholder="ID" name="ID" required value="659fd47c58771f020b83e39d" disabled>
                    <label for="URL"><b>Notification Url</b></label>
                    <input #URL nbInput fullWidth shape="round" type="text" placeholder="Use https://webhook.site to get notifications" name="URL" value="">
                    <label for="XML"><b>RDF text *</b></label>
                    <input #XML nbInput fullWidth shape="round" type="text" placeholder="RDF text" name="XML" required value="" disabled id="RDF">

                </div>
                <button status="primary" nbButton (click)="submitAnalisysJSON(ID.value,URL.value,XML.value)" type="submit">Find</button>
            </form>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body" >
                  <h5 class="card-title">RESPONSE</h5>
                  <pre id="response" style="max-height: 950px; min-height: 800px; height: auto;">Here will be shown the answers of requests made</pre>
                </div>
              </div>
        </div>
    </div>
    
   <br>
   <hr>
   <br>
 </div>